@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html[lang="ja"] {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body,
a,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

header {
    background-image: url(img/yama.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    font-size: 2rem;
    margin-bottom: 20px;
}

#glass {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 15px 30px;
    color: rgb(255, 255, 255);
}

#o-main {
    margin: 50px 20%;
}

.o-title {
    margin-left: 0px;
}

/*news*/
.news-list {
    list-style: none outside;
    overflow: auto;
    height: 250px;
    margin: 0px;
    padding: 0px 5px 0 0;
}

.news-list::-webkit-scrollbar {
    background-color: #d6d6d6;
    border-radius: 5px;
    width: 3px;
}

.news-list::-webkit-scrollbar-thumb {
    background-color: #868686;
    border-radius: 5px;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item:first-child a {
    border-top: 1px solid #CCC;
}

.news-list .item .date {
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .category {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category span {
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
}

.news-list .item a:hover .title {
    color: rgb(78, 155, 255);
}

/*Shrinking for mobile*/
@media screen and (max-width: 767px) {

    h1 {
        font-size: 30px;
    }

    #glass {
        width: 80%;
    }

    #welcome {
        font-size: 30px;
    }

    #h-txt {
        font-size: 15px;
    }

    #sub-t {
        font-size: 12px;
    }

    #o-main {
        margin: 50px 20px;
    }

    .news-list .item a {
        flex-wrap: wrap;
    }

    .news-list .item .date {
        min-width: 100px;
    }

    .news-list .item .title {
        margin-top: 10px;
    }
}