@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html[lang="ja"] {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body,
a,
p {
    margin: 0;
}

body {
    --sb-track-color: #d2d2d2;
    --sb-thumb-color: #ff701e;
    --sb-size: 5px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

main {
    padding: 100px 20% 100px 20%;
}

@media screen and (max-width: 768px) {
    html {
        margin-top: 38px;
    }

    main {
        padding: 100px 5% 100px 5%;
    }
}

/*==========Title==========*/
#page-title {
    position: relative;
    padding: 0 65px;
    margin-bottom: 100px;
    text-align: center;
    color: #333;
}

#page-title:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    border-radius: 50px;
    background: #333;
}

#page-title span {
    position: relative;
    padding: 0 1em;
    background: #fff;
    font-size: 30px;
}

/*==========contet title==========*/
.uline_style06_02 {
    padding: 0.7em 0.5em 0.7em 1em;
    position: relative;
}

.uline_style06_02::before,
.uline_style06_02::after {
    content: "";
    display: block;
    position: absolute;
}

.uline_style06_02::before {
    bottom: -5px;
    left: 1px;
    width: 8px;
    height: 14px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    transform: skewX(-35deg);
}

.uline_style06_02::after {
    left: 8px;
    bottom: 0;
    width: calc(100% - 8px);
    height: 2px;
    background: #333;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.uline_style06_02 {
    margin: 30px 70% 30px 0;
    padding-left: 30px;
    color: #333;
}

@media screen and (max-width: 768px) {
    .uline_style06_02 {
        margin: 30px 20% 30px 0;
    }
}

/*==========Developer==========*/
#developer {
    margin: 100px 0;
}

#dev-icon {
    display: block;
    text-align: center;
}

#dev-info {
    text-align: center;
    color: #333;
}

#link {
    margin: 25px 0px;
}

.link_ico {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    transition: 0.5s;
}

.link_ico:hover {
    opacity: 0.7;
    transform: scale(0.9);
}

/*==========About-site==========*/
#about-site {
    display: flex;
    margin-bottom: 100px;
}

.about-content {
    margin: 10px 0 10px 50px;
    display: block;
}

.about-txt {
    margin: 10px;
    color: #333;
    font-size: large;
    font-weight: 600;
}

.about-img {
    width: 27vw;
    border: solid 2px #dfdfdf;
    border-radius: 30px;
    transition: 0.5s;
}

.about-img:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

.info {
    margin-left: 15px;
    color: gray;
    font-size: medium;
}

@media screen and (max-width: 768px) {
    #about-site {
        display: block;
    }

    .about-content {
        margin: 50px 0;
    }

    .about-txt {
        font-size: 4vw;
    }

    .about-img {
        width: 90vw;
    }

    .info {
        font-size: small;
    }
}

/*==========GitHub==========*/
#github {
    padding: 10px 10px 10px 50px;
}

#git-img {
    width: 27vw;
    border: solid 2px #dfdfdf;
    border-radius: 30px;
    transition: 0.5s;
}

#git-img:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

@media screen and (max-width: 768px) {
    #github {
        padding: 0;
    }

    #git-img {
        width: 90vw;
    }
}